version: '3.5'
services:

# ============================================================================
# ============================================================================
#                           AUTOTRUCK-TRUCKTRIX WEB APP
# ============================================================================
# ============================================================================

    yard_automation_app:
        image: autotruck/autotruck_webclient:2.0.3

        ports: 
            - 3080:3080            
                
        command: ["node", "express.js"]

        networks:
            - control-tower-net
            


# ============================================================================
# ============================================================================
#                  LOCAL PATH PLANNER - WHEN TRUCKTRIX IS NOT AVAILABLE
# ============================================================================
# ============================================================================

    local_planner_service:
        build: 
            context: ./microservices/clothoid_path_planner
            dockerfile: Dockerfile

        container_name: local_planner_service

        ports:
        - "9000:9000"

        restart: always

        networks:
        - control-tower-net

        volumes:
            - ./microservices/clothoid_path_planner/:/app


# ============================================================================
# ============================================================================
#                  AUXILIAR ASSIGNMENT PLANNER - TO HANDLE TRAILER TRANSPORTATION
# ============================================================================
# ============================================================================

    trailer_transport_service:
        build: 
            context: ./microservices/trailer_transport_planner
            dockerfile: Dockerfile

        container_name: trailer_transport_service

        ports:
        - "9100:9100"

        restart: always

        networks:
        - control-tower-net

        volumes:
            - ./microservices/trailer_transport_planner/:/app



    pick_drop_park_service:
        build: 
            context: ./microservices/pick_drop_service
            dockerfile: Dockerfile

        container_name: pick_drop_park_service

        ports:
        - "9200:9200"

        restart: always

        networks:
        - control-tower-net

        volumes:
            - ./microservices/pick_drop_service/:/app


    map_service:
        build: 
            context: ./microservices/simplejson_map_server
            dockerfile: Dockerfile

        container_name: map_service

        ports:
        - "9300:9300"

        restart: always

        networks:
        - control-tower-net

        volumes:
            - ./microservices/simplejson_map_server/:/app



# # ============================================================================
# # ============================================================================
    # #                       TRUCK SIMULATOR - TRUCK AND TRACTOR 
# # ============================================================================
# # ============================================================================


    agent_simulator_1:
        image: helyosframework/helyos_agent_slim_simulator:0.7.5

        volumes:
            - ./geometry_tractor.json:/app/geometry.json
            
        environment:

            # AGENT ID
            - UUID=Ab34069fc5-fdgs-434b-b87e-f19c5435113 
            - ASSIGNMENT_FORMAT=trajectory  # fixed | trajectory | straight_to_destination | trucktrix-path 
            - NAME=MY_TRACTOR
            - X0=-28000
            - Y0=29000
            - ORIENTATION=0.329
            - VELOCITY=1.8 
            - VEHICLE_PARTS=2
            - YARD_UID=1
            - UPDATE_RATE=10

            # RABBITMQ 
            - RABBITMQHOST=local_message_broker 
            - RABBITMQPORT=5672
            - REGISTRATION_TOKEN=0001-0002-0003-0000-0004

        networks:
            - control-tower-net   

        depends_on:
            - helyos_core     

        command: ["python", "main.py"]

        deploy:
            restart_policy:
                condition: on-failure
                delay: 15s
                max_attempts: 5
                window: 60s    


    agent_simulator_2:
        image: helyosframework/helyos_agent_slim_simulator:0.7.5

        volumes:
            - ./geometry_truck.json:/app/geometry.json
            
        environment:

            # AGENT ID
            - UUID=Bb34069fc5-fdgs-434b-b87e-f19c5435113 
            - ASSIGNMENT_FORMAT=trajectory  # fixed | trajectory | straight_to_destination | trucktrix-path
            - NAME=MY_TRUCK
            - X0=-30000
            - Y0=10000
            - ORIENTATION=0.329
            - VELOCITY=1.8 
            - VEHICLE_PARTS=2
            - YARD_UID=1
            - UPDATE_RATE=10

            # RABBITMQ 
            - RABBITMQHOST=local_message_broker 
            - RABBITMQPORT=5672
            - REGISTRATION_TOKEN=0001-0002-0003-0000-0004

        networks:
            - control-tower-net   

        depends_on:
            - helyos_core     

        command: ["python","-u", "main.py"]

        deploy:
            restart_policy:
                condition: on-failure
                delay: 15s
                max_attempts: 5
                window: 60s    


# # ============================================================================
# # ============================================================================
# #                          MESSAGE-BROKER - RABBITMQ 
# # ============================================================================
# # ============================================================================

    local_message_broker:
        image:  rabbitmq:3-management
        hostname: local_message_broker

        ports: 
            - 5672:5672          
            - 15672:15672        

        networks:
            - control-tower-net


# # =================================================================================
# # =================================================================================
# #     MOCKING EXTERNAL RESOURCE MANAGER TO PROVIDE TRAILERS AND CONTAINERS POSITION
# # =================================================================================
# # =================================================================================

    external_resource_manager:
        image:  python:3.7-slim
        volumes:
            - ./register_trailers_to_yard.py:/app/register_trailers_to_yard.py
            - ./geometry_trailer.json:/app/geometry_trailer.json

        working_dir: /app
        command: ["python","-u", "/app/register_trailers_to_yard.py"]

        depends_on:
            - helyos_core

        networks:
            - control-tower-net
# # ============================================================================
# # ============================================================================
# #                           HELYOS - SYSTEM INTEGRATION
# # ============================================================================
# # ============================================================================
    db:
        image: postgres:13
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        environment:
            POSTGRES_HOST_AUTH_METHOD: "trust"
        networks:
            - control-tower-net
        container_name: db


    helyos_core:
        image: helyosframework/helyos_core:2.0.2

        ports:
            - 5002:5002  # Websocket
            - 5000:5000  # GraphQL
            - 8080:8080  # HelyOS Dashboard


        volumes:
            - ./settings/config:/etc/helyos/config/
            - ./settings/db_initial_data/:/etc/helyos/db_initial_data/
            - ./settings/rsa_keys/helyos_private.key:/etc/helyos/.ssl_keys/helyos_private.key:ro
            - ./settings/rsa_keys/helyos_public.key:/etc/helyos/.ssl_keys/helyos_public.key:ro

        environment:
            # DATABASE 
            - PGUSER=postgres 
            - PGPASSWORD=null
            - PGHOST=db 
            - PGDATABASE=autotruck 
            - PGPORT=5432
            
            # GRAPHQL VARIABLES
            - GQLPORT=5000

            # RABBITMQ 
            - RBMQ_HOST=local_message_broker 
            - RBMQ_PORT=5672
            - RBMQ_API_PORT=15672       


            # RBMQ ACCOUNTS
            - CREATE_RBMQ_ACCOUNTS=True
            - RBMQ_ADMIN_USERNAME=${HELYOS_RBMQ_USERNAME} # set if CREATE_RBMQ_ACCOUNTS is True
            - RBMQ_ADMIN_PASSWORD=${HELYOS_RBMQ_PASSWORD} # set if CREATE_RBMQ_ACCOUNTS is True
            - AGENT_AUTO_REGISTER_TOKEN=0001-0002-0003-0000-0004

        networks:
            - control-tower-net

        depends_on:
            - db
            - local_message_broker




networks:
    control-tower-net:
       external: false
           

volumes:
    postgres_data:
        external: false
